<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <h4>
        <% if current_user %>
          Logged In as <%= current_user.name %>
          <%= link_to "logout", logout_path %>
        <% else %>
          <%= link_to "login", login_path %>
        <% end %>
      </h4>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
      <%= debug params if Rails.env.development?%>
    </div>
  </body>
</html>
